body{
  background-image: url("/src/utils/fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: blue;
}

div:focus{
  outline: none !important;
}
