header{
    height: 50px;
    /* border: 1px solid black; */
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.titulo{
    font-size: 30px;
    padding: 10px;
    /* color: rgb(229, 255, 0); */
    color: rgb(255, 243, 1);
    font-weight: bold;
}

.boton-reiniciar{
    background-color: rgb(234, 0, 18);
    border-radius: 8px;
    width: 130px;
    height: 30px;
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 58px; 
    color:white;   
    /* border:0px; */
    border: 2px solid black;
}